.padtext {
    margin-left: 5px;
}

.marginsizes {
    margin: 1rem;
}

.h6font {
    text-align: center;
}

.grid-container {
    justify-content: center;
    display: grid;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}